[class*="zocial-"]:before {
  color: red;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}
footer {
    margin: 0 auto;
    width: 800px;
}
article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 1px solid black
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

figcaption {
    color: green;
    padding: 1em 0;
}

figure {
    margin: 1em 0 1em 0;
}

header{
    width: 800px;
    margin: 0 auto;
}

header:hover svg#logo {
  fill: #3d85c6;
  /* webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);*/
}